<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374456041809-4tfvckmm8h359mob2l2184c1gc2u5fbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374456041809-4tfvckmm8h359mob2l2184c1gc2u5fbf</string>
	<key>API_KEY</key>
	<string>AIzaSyCY9M2yKLrS4pcMYNuWd5HQ2YhdqYnKtyU</string>
	<key>GCM_SENDER_ID</key>
	<string>374456041809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorganization.VKFeed</string>
	<key>PROJECT_ID</key>
	<string>vkproject-a89e8</string>
	<key>STORAGE_BUCKET</key>
	<string>vkproject-a89e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374456041809:ios:a91341092cd13cb97a9370</string>
	<key>DATABASE_URL</key>
	<string>https://vkproject-a89e8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>